@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4d6be0;
}
.container{
    width: 860px;
    background: #fff;
    border-radius: 7px;
    padding: 30px;
}
.box{
    display: flex;
    justify-content: space-between;
}
.from{
    border: 0.01px solid rgb(143, 143, 143);
    padding: 10px;
}

.to{
    padding: 10px;
    border: 0.01px solid rgb(143, 143, 143);
}
.heading{
    padding: 10px 80px;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    border-bottom: 1px solid rgb(10, 10, 10);
}
.from .heading .icons{
    color: grey;
    font-size: 16px;
    padding-left: 20px;
}
.to .heading .icons{
    color: grey;
    font-size: 16px;
}
.chars{
    color: rgb(171, 171, 171);
    align-items:flex-end;
}
.icons{
    cursor: pointer;
}
textarea{
    height: 355px;
    max-width:300px ;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}
 .swap button{
    background-color: #4d6be0;
    padding: 10px 20px;
    border-radius: 40%;
    color: #e8e4e4;
    font-size: 20px;
    cursor: pointer; 
    border: none;
    margin: 0px 10px;
 }
 .swap button:hover{
    background-color: #4d6be0;
    box-shadow: 0 0 3px #4d6be0;
 }
 .bottom button{
    width: 100%;
    padding: 17px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: #6ba3e2;
 }
 .bottom button:hover{
    background-color: #6ba3e2;
    box-shadow: 0 0 5px #6ba3e2;
 }
 @media (max-width:880px){
   .container{
    max-width: 660px;
    padding: 20px;
   }
   .box{
    justify-content: space-evenly;
   }
   .heading{
    padding: 10px;
   }
 }
 @media (max-width: 660px){
    .container{
      padding: 20px;
    }
    .box {
      flex-direction: column;
      
    }
    .text-input .to-text{
      border-left: 0px;
      border-top: 1px solid #ccc;
    }
    .textarea{
      height: 200px;
    }
    .icons{
      display: none;
    }
    .bottom button{
      padding: 13px;
      font-size: 16px;
    }
    .heading select{
      font-size: 16px;
    }
    .container .swap{
      font-size: 14px;
    }
  }
